<div class="cal-row-fluid cal-row-head">
	{{#each dayLabels}}
	<div class="cal-cell1">{{ this }}</div>
	{{/each}}
	<!-- div class="cal-cell1">Monday</div> -->
</div>
<div class="cal-month-box">
	{{#each weeks}}
	<div class="cal-row-fluid cal-before-eventlist">
		{{#each this.days}}
		<div class="cal-cell1 cal-cell" data-cal-row="-day{{ this.indexBaseOne }}">
			<div class="cal-month-day cal-day-inmonth {{#if this.weekend}}cal-day-weekend{{/if}}">
				<span class="pull-right" data-cal-date="{{ this.dateString }}" data-cal-view="day" data-toggle="tooltip" title="" data-original-title="">{{ this.date }}</span>
				{{#if this.weekLabel}}
				<div id="cal-week-box" class="hidden-xs">{{ this.weekLabel }}</div>
				{{/if}}
				{{#if this.sessions}}
				<div class="events-list"
				data-cal-start="{{ this.startTimestamp }}"
				data-cal-end=" this.endTimestamp }}">
				{{#each this.sessions}}
					<div data-event-id="{{ this.id }}" data-event-class="{{ this.colorClass }}" class="pull-left event {{this.colorClass}} " data-toggle="tooltip" title="{{ this.title}}" data-original-title="{{ this.longTitle}}"></div>
					{{/each}}
				</div>
				{{/if}}
			</div>
		</div>
		{{/each}}
	</div>
	{{/each}}
</div>