<h2 class="text-center">Welcome {{givenName}}!</h2>
<table class="table">
  <theader>
    <tr>
       <th>Plan</th>
       <th>History</th>
       <th>Level</th>
    </tr>
  </theader>
  <tbody>
    {{#each plans}}
    <tr>
      <td><a href="#/today/{{this.title}}">{{this.title}}</a></td>
      <td><img src="images/sparkline.png" style="width:100%;min-width:100px;height:3ex;padding-right:20px"></td>
      <td>
      {{#if this.ladder}}
      <span class="badge {{ this.colorClass }}">{{this.ladder}}</span> -
      {{/if}}
      <span class="badge {{ this.colorClass }}">{{this.rung}}</span>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<div id="calendar"></div>
