
  <div class="panel panel-success">
    <div class="panel-heading">
      {{ planId }}: {{ id }}
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-condensed">
        <thead>
          <tr>
            {{#each labelsUpper}}
            <th
            {{#if this.rowSpan}}
            rowspan="{{ this.rowSpan }}"
            {{/if}}
            {{#if this.colSpan}}
            colspan="this.colSpan"
            {{/if}}
            >{{ this.title }}</th>
            {{/each}}
          </tr>
          {{#if labelsLower}}
          <tr>
          {{#each labelsLower}}
            <th>{{ this }}</th>
            {{/each}}
          <tr>
          {{/if}}
        </thead>
        <tbody>

          {{! Where our rungs will go }}

        </tbody>
      </table>
    </div>
  </div>
