<div class="panel-group">
  <div class="panel panel-success">
    <div class="panel-heading">
       {{ title }}: {{ ladder }} - {{ rung }}
    </div>
    <div id="panel-content">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <th></th>
              {{#each exerciseLabels}}
              {{#if this.isCombo}}
              <th>{{ this.label }}<select id="select-{{@index}}" class="pull-right exercise-selector">
              {{#each options}}
              <option {{#if this.selected}}selected="selected"{{/if}}>{{ this.name }}</option>
              {{/each}}
              </select></th>
              {{else}}
              <th>{{ this.label }}</th>
              {{/if}}
              {{/each}}
            </tr>
          </thead>
          <tbody>

      {{#each rows}}
            <tr>
              <td>{{ this.label }}</td>
              {{#each this.exercises}}
              <td>{{ this }}</td>
              {{/each}}
            </tr>
      {{/each}}

          </tbody>
      </table>
    </div>
    <div class="jumbotron">
      <p>Congratulations!</p>
      <p>You're up to
        <span class="badge {{ this.colorClass }}" style="font-size:inherit;">{{ ladder }}</span>
        <span class="badge {{ this.colorClass }}" style="font-size:inherit;">{{ rung }}</span>
      </p>
    <button id="start-btn" class="btn btn-default">Let's Start!</button>
  </div>
</div>
